src/test/resources/example/exampleAbstract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:dub="http://aoa.de/xsd/demo/v1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://aoa.de/xsd/demo/v1/" xmlns:tns="http://aoa.de/service/demo/Demo1/" name="DemoPortType1Definitions" targetNamespace="http://aoa.de/service/demo/Demo1/">
	<wsdl:types>
		<xs:schema targetNamespace="http://aoa.de/service/demo/Demo1/" xmlns="http://www.w3.org/2001/XMLSchema" 
		 xmlns:ei="http://aoa.de/ei/foundation/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="-UNDEFINED-">
			<!-- IMPORTS -->
			<xs:import namespace="http://aoa.de/xsd/demo/v1/" schemaLocation="de.aoa.xsd.demo.v1.xsd"/>
			<xs:import namespace="http://aoa.de/ei/foundation/v1" schemaLocation="de.aoa.ei.foundation.v1.xsd"/>
			<!-- WRAPPER-ELEMENTE -->
			<xs:element name="Fault" type="ei:faultDetailType"/>
			<xs:element name="demoElementRequest" type="dub:demoType"/>
			<xs:element name="demoElementResponse" type="dub:demoRespType"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="systemServiceException">
		<wsdl:part name="fault" element="tns:Fault"/>
	</wsdl:message>
	<wsdl:message name="demoRequest">
		<wsdl:part name="parameters" element="dub:demoElementRequest"/>
	</wsdl:message>
	<wsdl:message name="demoResponse">	
		<wsdl:part name="parameters" element="dub:demoElementResponse"/>
	</wsdl:message>
	<wsdl:portType name="DemoPortType1">
		<wsdl:operation name="demonstration">
			<wsdl:input message="tns:demoRequest"/>
			<wsdl:output message="tns:demoResponse"/>
			<wsdl:fault name="error" message="tns:systemServiceException"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
