src/main/xsd/service.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2022 Andre Karalus

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.artofarc.com/esb/service"
	xmlns:tns="http://www.artofarc.com/esb/service" elementFormDefault="qualified" version="1">

	<complexType name="ActionBase" abstract="true" />
	<element name="nsDecl">
		<complexType>
			<attribute name="prefix" type="Name" />
			<attribute name="namespace" type="string" use="required" />
		</complexType>
	</element>
	<element name="property">
		<complexType>
			<simpleContent>
				<extension base="tns:globalExpression">
					<attribute name="key" type="Name" use="required" />
				</extension>
			</simpleContent>
		</complexType>
	</element>
	<element name="action" type="tns:ActionBase" />
	<simpleType name="httpUrl">
		<restriction base="anyURI">
			<pattern value="https?://.+" />
		</restriction>
	</simpleType>
	<element name="http" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<sequence>
						<element name="url" maxOccurs="unbounded">
							<complexType>
								<simpleContent>
									<extension base="tns:httpUrl">
										<attribute name="active" type="boolean" default="true" />
										<attribute name="weight" type="tns:positiveInt" default="1" />
									</extension>
								</simpleContent>
							</complexType>
						</element>
					</sequence>
					<attribute name="multiThreaded" type="boolean" default="true" />
					<attribute name="multipartSubtype" type="tns:multipartSubtype" />
					<attribute name="multipartRequest" type="tns:string1" />
					<attribute name="username" type="tns:expression" />
					<attribute name="password" type="tns:expression" />
					<attribute name="connectTimeout" type="tns:nonNegativeInt" default="10000" />
					<attribute name="retries" type="tns:nonNegativeInt" />
					<attribute name="checkAliveInterval" type="tns:positiveInt" />
					<attribute name="checkAliveClass" type="tns:identifier" />
					<attribute name="classLoader" type="anyURI" />
					<attribute name="readTimeout" type="tns:nonNegativeInt" default="60000" />
					<attribute name="chunkLength" type="int" />
					<attribute name="workerPool" type="anyURI" />
					<attribute name="name" type="tns:string1" />
					<attribute name="proxyUrl" type="tns:globalExpression" />
					<attribute name="keyStore" type="tns:globalExpression" />
					<attribute name="keyStorePassword" type="tns:globalExpression" />
					<attribute name="cookiePolicy" type="tns:CookiePolicy" />
					<attribute name="version">
						<simpleType>
							<restriction base="string">
								<enumeration value="HTTP/1.1" />
								<enumeration value="HTTP/2" />
							</restriction>
						</simpleType>
					</attribute>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="jms" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<group ref="tns:JMSDestination" minOccurs="0" />
					<attributeGroup ref="tns:JMSConnectionData" />
					<attribute name="transacted" type="boolean" />
					<attribute name="bytesMessage" type="boolean" default="false" />
					<attribute name="deliveryMode" default="2">
						<simpleType>
							<restriction base="int">
								<minInclusive value="1" />
								<maxInclusive value="2" />
							</restriction>
						</simpleType>
					</attribute>
					<attribute name="priority" type="tns:string1" default="4" />
					<attribute name="timeToLive" default="0">
						<simpleType>
							<restriction base="long">
								<minInclusive value="0" />
							</restriction>
						</simpleType>
					</attribute>
					<attribute name="deliveryDelay" type="tns:string1" />
					<attribute name="expiryQueue" type="tns:string1" />
					<attribute name="receiveFromTempQueue" type="boolean" default="false" />
					<attribute name="replyQueue" type="tns:string1" />
					<attribute name="receiveSelector" type="tns:expression" />
					<attribute name="multipartSubtype" type="tns:multipartSubtype" />
					<attribute name="multipart" type="tns:string1" />
					<attribute name="workerPool" type="anyURI" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="produceKafka" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<sequence>
						<element ref="tns:property" maxOccurs="unbounded" />
					</sequence>
					<attribute name="topic" type="Name" use="required" />
					<attribute name="partition" type="tns:nonNegativeInt" />
					<attribute name="binary" type="boolean" default="false" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="sendMail" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<sequence>
						<element ref="tns:property" maxOccurs="unbounded" />
					</sequence>
					<attribute name="workerPool" type="anyURI" />
					<attribute name="from" type="tns:expression" use="required" />
					<attribute name="to" type="tns:expression" use="required" />
					<attribute name="cc" type="tns:expression" />
					<attribute name="bcc" type="tns:expression" />
					<attribute name="replyTo" type="tns:expression" />
					<attribute name="subject" type="tns:expression" use="required" />
					<attribute name="text" type="tns:expression" default="${body}" />
					<attribute name="type" type="tns:expression" default="text/plain" />
					<attribute name="userName" type="tns:globalExpression" />
					<attribute name="password" type="tns:globalExpression" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="executeAction" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<sequence>
						<element ref="tns:property" minOccurs="0" maxOccurs="unbounded" />
					</sequence>
					<attribute name="classLoader" type="anyURI" />
					<attribute name="javaType" type="tns:identifier" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="file" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<attribute name="dir" type="tns:globalExpression" />
					<attribute name="action" type="tns:expression" default="${FileEventKind}" />
					<attribute name="filename" type="tns:expression" default="${filename}" />
					<attribute name="mkdirs" type="boolean" default="false" />
					<attribute name="append" type="tns:expression" default="${append}" />
					<attribute name="zip" type="tns:expression" default="${zip}" />
					<attribute name="readable" type="boolean" />
					<attribute name="writable" type="boolean" />
					<attribute name="ownerOnly" type="boolean" default="false" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="parameter">
		<complexType>
			<attribute name="pos" type="tns:positiveInt" />
			<attribute name="body" type="boolean" default="false" />
			<attribute name="free" type="boolean" />
			<attribute name="attachments" type="boolean" default="false" />
			<attribute name="variable" type="tns:identifier" />
			<attribute name="type" type="Name" use="required" />
			<attribute name="truncate" type="tns:positiveInt" />
			<attribute name="xmlElement" type="tns:string1" />
		</complexType>
	</element>
	<complexType name="JDBCBase" abstract="true">
		<complexContent>
			<extension base="tns:ActionBase">
				<sequence>
					<element name="sql" type="tns:expression" minOccurs="0" />
				</sequence>
				<attribute name="dataSource" type="tns:expression" />
				<attribute name="moreThanOneResult" type="boolean" />
				<attribute name="maxRows" type="tns:nonNegativeInt" default="0" />
				<attribute name="timeout" type="tns:nonNegativeInt" default="60000" />
				<attribute name="keepConnection" type="tns:expression" default="false" />
			</extension>
		</complexContent>
	</complexType>
	<element name="jdbc" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:JDBCBase">
					<sequence>
						<element ref="tns:parameter" minOccurs="0" maxOccurs="unbounded" />
					</sequence>
					<attribute name="generatedKeys">
						<simpleType>
							<list itemType="NMTOKEN" />
						</simpleType>
					</attribute>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="jdbcProcedure" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:JDBCBase">
					<sequence>
						<element name="in">
							<complexType>
								<sequence>
									<element ref="tns:parameter" minOccurs="0"
										maxOccurs="unbounded" />
								</sequence>
							</complexType>
						</element>
						<element name="out">
							<complexType>
								<sequence>
									<element ref="tns:parameter" minOccurs="0"
										maxOccurs="unbounded" />
								</sequence>
							</complexType>
						</element>
					</sequence>
					<attribute name="schemaURI" type="anyURI" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<complexType name="XQDecl">
		<simpleContent>
			<extension base="tns:string1">
				<attribute name="nullable" type="boolean" />
				<attribute name="type" type="tns:string1" />
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="Assign">
		<complexContent>
			<extension base="tns:ActionBase">
				<sequence>
					<element name="import" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<simpleContent>
								<extension base="anyURI">
									<attribute name="prefix" type="Name" />
									<attribute name="namespace" type="string" use="required" />
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="bindName" type="tns:XQDecl" minOccurs="0" maxOccurs="unbounded" />
					<element ref="tns:nsDecl" minOccurs="0" maxOccurs="unbounded" />
					<element name="assignment" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<simpleContent>
								<extension base="tns:XQDecl">
									<attribute name="variable" type="tns:identifier" />
									<attribute name="header" type="tns:identifier" />
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="body" type="tns:string1" minOccurs="0" />
				</sequence>
				<attribute name="contextItem" type="tns:identifier" />
				<attribute name="clearHeaders" type="boolean" default="false" />
				<attribute name="referencedURIs" type="tns:referencedURIs" />
			</extension>
		</complexContent>
	</complexType>
	<element name="assign" substitutionGroup="tns:action" type="tns:Assign" />
	<element name="xml2json" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<sequence>
						<element ref="tns:nsDecl" minOccurs="0" maxOccurs="unbounded" />
					</sequence>
					<attribute name="schemaURI" type="anyURI" />
					<attribute name="type" type="tns:string1" />
					<attribute name="jsonIncludeRoot" type="boolean" default="false" />
					<attribute name="wrapperAsArrayName" type="boolean" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="json2xml" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<sequence>
						<element ref="tns:nsDecl" minOccurs="0" maxOccurs="unbounded" />
					</sequence>
					<attribute name="schemaURI" type="anyURI" />
					<attribute name="type" type="tns:string1" />
					<attribute name="jsonIncludeRoot" type="boolean" default="false" />
					<attribute name="xmlElement" type="tns:string1" />
					<attribute name="streaming" type="boolean" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="transform" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<sequence>
						<element name="xquery" type="string" minOccurs="0" />
					</sequence>
					<attribute name="xqueryURI" type="anyURI" />
					<attribute name="contextItem" type="tns:identifier" />
					<attribute name="clearHeaders" type="boolean" default="false" />
					<attribute name="mediaType" type="tns:expression" />
					<attribute name="referencedURIs" type="tns:referencedURIs" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="applyXSLT" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<attribute name="xslURI" type="anyURI" use="required" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<complexType name="SOAPAction" abstract="true">
		<complexContent>
			<extension base="tns:ActionBase">
				<attribute name="soap12" type="boolean" default="false" />
				<attribute name="singlePart" type="boolean" default="true" />
			</extension>
		</complexContent>
	</complexType>
	<element name="unwrapSOAP" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:SOAPAction">
					<attribute name="wsdlURI" type="anyURI" use="required" />
					<attribute name="binding" type="tns:string1" />
					<attribute name="transport" type="anyURI" />
					<attribute name="getWsdl" type="boolean" default="false" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="wrapSOAP" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:SOAPAction">
					<attribute name="header" type="boolean" default="false" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="preSOAPHttp" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:SOAPAction">
					<attribute name="header" type="boolean" default="false" />
					<attribute name="wsdlURI" type="anyURI" use="required" />
					<attribute name="binding" type="tns:string1" />
					<attribute name="transport" type="anyURI" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="postSOAPHttp" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:SOAPAction">
					<attribute name="expectedElement" type="tns:string1" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="spawn" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<attribute name="workerPool" type="anyURI" />
					<attribute name="join" type="boolean" default="false" />
					<attribute name="usePipe" type="boolean" default="false" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="fork" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<sequence>
						<element ref="tns:action" maxOccurs="unbounded" />
					</sequence>
					<attribute name="workerPool" type="anyURI" />
					<attribute name="copyMessage" type="boolean" default="false" />
					<attribute name="copyHeaders" type="boolean" default="false" />
					<attribute name="copyAttachments" type="boolean" default="false" />
					<attribute name="errorHandler" type="NCName" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="iterate" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<sequence>
						<element ref="tns:action" maxOccurs="unbounded" />
					</sequence>
					<attribute name="iterable" type="tns:expression" use="required" />
					<attribute name="iterName" type="tns:string1" />
					<attribute name="variable" type="tns:identifier" use="required" />
					<attribute name="remove" type="boolean" default="false" />
					<attribute name="collectorName" type="tns:identifier" />
					<attribute name="collect" type="tns:identifier" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="cache" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<sequence>
						<element ref="tns:action" maxOccurs="unbounded" />
					</sequence>
					<attribute name="key" type="tns:expression" use="required" />
					<attribute name="nullable" type="boolean" default="false" />
					<attribute name="value" use="required" >
						<simpleType>
							<list itemType="tns:identifier" />
						</simpleType>
					</attribute>
					<attribute name="writeOnly" type="boolean" default="false" />
					<attribute name="name" type="Name" use="required" />
					<attribute name="maxSize" type="tns:positiveInt" use="required" />
					<attribute name="ttl" type="tns:string1" use="required" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="uncache" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<attribute name="key" type="tns:expression" />
					<attribute name="name" type="Name" use="required" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="conditional" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:Assign">
					<sequence>
						<element ref="tns:action" maxOccurs="unbounded" />
					</sequence>
					<attribute name="expression" type="tns:string1" use="required" />
					<attribute name="proceed" type="boolean" default="false" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="branchOnVariable" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<sequence>
						<element name="branch" minOccurs="0" maxOccurs="unbounded">
							<complexType>
								<sequence>
									<element ref="tns:action" minOccurs="0" maxOccurs="unbounded" />
								</sequence>
								<attribute name="value">
									<simpleType>
										<list itemType="tns:globalExpression" />
									</simpleType>
								</attribute>
								<attribute name="regEx" type="tns:string1" />
							</complexType>
						</element>
						<choice>
							<sequence>
								<element name="default" minOccurs="0">
									<complexType>
										<sequence>
											<element ref="tns:action" maxOccurs="unbounded" />
										</sequence>
									</complexType>
								</element>
								<element name="null" minOccurs="0">
									<complexType>
										<sequence>
											<element ref="tns:action" maxOccurs="unbounded" />
										</sequence>
									</complexType>
								</element>
							</sequence>
							<element name="defaultOrNull">
								<complexType>
									<sequence>
										<element ref="tns:action" maxOccurs="unbounded" />
									</sequence>
								</complexType>
							</element>
						</choice>
					</sequence>
					<attribute name="variable" type="tns:expressionOrEmpty" use="required" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="branchOnPath" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<sequence>
						<element name="branch" minOccurs="0" maxOccurs="unbounded">
							<complexType>
								<sequence>
									<element ref="tns:action" maxOccurs="unbounded" />
								</sequence>
								<attribute name="pathTemplate" type="string" use="required" />
							</complexType>
						</element>
						<element name="default" minOccurs="0">
							<complexType>
								<sequence>
									<element ref="tns:action" maxOccurs="unbounded" />
								</sequence>
							</complexType>
						</element>
					</sequence>
					<attribute name="basePath" type="anyURI" default="" />
					<attribute name="genericQuery" type="boolean" default="false" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="validate" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<sequence>
						<element ref="tns:nsDecl" minOccurs="0" maxOccurs="unbounded" />
					</sequence>
					<attribute name="schemaURI" type="anyURI" />
					<attribute name="expression" type="tns:string1" default="." />
					<attribute name="contextItem" type="tns:identifier" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="internalService" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<attribute name="serviceURI" type="anyURI" use="required" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="actionPipelineRef" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<attribute name="ref" type="string" use="required" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<complexType name="HeaderOrVariable">
		<simpleContent>
			<extension base="tns:expressionOrEmpty">
				<attribute name="name" type="tns:identifier" use="required" />
				<attribute name="javaType" type="tns:identifier" />
				<attribute name="method" type="NCName" />
				<attribute name="field" type="NCName" />
			</extension>
		</simpleContent>
	</complexType>
	<element name="update" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<sequence>
						<choice minOccurs="0" maxOccurs="unbounded">
							<element name="header">
								<complexType>
									<simpleContent>
										<extension base="tns:HeaderOrVariable">
											<attribute name="retain" type="boolean" default="false" />
										</extension>
									</simpleContent>
								</complexType>
							</element>
							<element name="variable">
								<complexType>
									<simpleContent>
										<extension base="tns:HeaderOrVariable">
											<attribute name="fileURI" type="anyURI" />
										</extension>
									</simpleContent>
								</complexType>
							</element>
						</choice>
						<element name="body" minOccurs="0">
							<complexType>
								<simpleContent>
									<extension base="tns:expressionOrEmpty">
										<attribute name="javaType" type="NCName" />
										<attribute name="method" type="NCName" />
										<attribute name="fileURI" type="anyURI" />
									</extension>
								</simpleContent>
							</complexType>
						</element>
					</sequence>
					<attribute name="clearHeaders" type="boolean" default="false" />
					<attribute name="classLoader" type="anyURI" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="processJson" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<sequence>
						<element name="header" minOccurs="0" maxOccurs="unbounded">
							<complexType>
								<simpleContent>
									<extension base="tns:string1">
										<attribute name="name" type="tns:identifier" use="required" />
									</extension>
								</simpleContent>
							</complexType>
						</element>
						<element name="variable" minOccurs="0" maxOccurs="unbounded">
							<complexType>
								<simpleContent>
									<extension base="tns:string1">
										<attribute name="name" type="tns:identifier" use="required" />
									</extension>
								</simpleContent>
							</complexType>
						</element>
						<element name="body" minOccurs="0" type="tns:expression" />
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="deserializeXop" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase" />
			</complexContent>
		</complexType>
	</element>
	<element name="serializeXop" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase" >
					<attribute name="threshold" type="tns:nonNegativeInt" default="0" />
					<attribute name="contentType" type="tns:string1" default="application/octet-stream" />
					<attribute name="ifAccepts" type="tns:multipartSubtype" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="suspend" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase" >
					<attribute name="correlationID" type="tns:expression" use="required" />
					<attribute name="timeout" type="long" default="60000" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="resume" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase" >
					<attribute name="correlationID" type="tns:string1" use="required" />
					<attribute name="workerPool" type="anyURI" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="throwException" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase" >
					<attribute name="message" type="tns:expression" use="required" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="dump" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase" >
					<attribute name="dir" type="tns:globalExpression" />
					<attribute name="binary" type="boolean" default="false" />
					<attribute name="log" type ="tns:expression" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="admin" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<attribute name="verb" type="tns:expression" default="${HttpMethod}" />
					<attribute name="resourceExp" type="tns:expressionOrEmpty" default="" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<simpleType name="Protocol">
		<restriction base="string">
			<enumeration value="internal" />
			<enumeration value="http" />
			<enumeration value="jms" />
			<enumeration value="timer" />
			<enumeration value="file" />
			<enumeration value="kafka" />
		</restriction>
	</simpleType>
	<simpleType name="CookiePolicy">
		<restriction base="string">
			<enumeration value="acceptAll" />
			<enumeration value="acceptNone" />
			<enumeration value="acceptOriginalServer" />
		</restriction>
	</simpleType>
	<element name="actionPipeline">
		<complexType>
			<sequence>
				<element ref="tns:action" maxOccurs="unbounded" />
			</sequence>
			<attribute name="name" type="NCName" use="required" />
			<attribute name="errorHandler" type="NCName" />
		</complexType>
	</element>
	<element name="service">
		<complexType>
			<sequence>
				<choice minOccurs="0">
					<element name="httpBindURI">
						<complexType>
							<simpleContent>
								<extension base="tns:URI1">
									<attribute name="overwriteContentType" type="tns:string1" />
									<attribute name="requiredRole" type="tns:globalExpression" />
									<attribute name="asyncTimeout" type="long" default="60000" />
									<attribute name="supportCompression" type="boolean" default="false" />
									<attribute name="multipartSubtype" type="tns:multipartSubtype" />
									<attribute name="multipartResponse" type="tns:string1" />
									<attribute name="bufferSize" type="tns:positiveUnsignedShort" />
									<attribute name="minPoolSize" type="unsignedShort" default="1" />
									<attribute name="maxPoolSize" type="tns:positiveUnsignedShort" default="20" />
									<attribute name="keepAlive" type="unsignedInt" default="300000" />
									<attribute name="resourceLimit" type="tns:nonNegativeInt" default="0" />
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="jmsBinding">
						<complexType>
							<group ref="tns:JMSDestination" />
							<attributeGroup ref="tns:JMSConnectionData" />
							<attribute name="workerPool" type="anyURI" />
							<attribute name="subscription" type="tns:string1" />
							<attribute name="noLocal" type="boolean" default="false" />
							<attribute name="shared" type="boolean" default="false" />
							<attribute name="messageSelector" type="string" />
							<attribute name="minWorkerCount" type="tns:positiveUnsignedShort" />
							<attribute name="workerCount" type="tns:positiveUnsignedShort" default="1" />
							<attribute name="batchSize" type="tns:positiveUnsignedShort" default="1" />
							<attribute name="batchTime" type="tns:positiveUnsignedShort" default="1000" />
							<attribute name="pollInterval" type="int" default="0" />
							<attribute name="at" type="time" />
							<attribute name="timeUnit" type="string" default="milliseconds" />
						</complexType>
					</element>
					<element name="timerBinding">
						<complexType>
							<attribute name="workerPool" type="anyURI" />
							<attribute name="at" type="time" />
							<attribute name="timeUnit" type="string" default="seconds" />
							<attribute name="period" type="tns:positiveInt" default="300" />
							<attribute name="initialDelay" type="tns:positiveInt" default="60" />
							<attribute name="fixedDelay" type="boolean" default="false" />
						</complexType>
					</element>
					<element name="fileWatchBinding">
						<complexType>
							<sequence>
								<element name="dir" type="tns:globalExpression" maxOccurs="unbounded" />
							</sequence>
							<attribute name="initialDelay" type="long" default="-1" />
							<attribute name="move" type="tns:expression" />
							<attribute name="moveOnError" type="tns:expression" />
							<attribute name="workerPool" type="anyURI" />
						</complexType>
					</element>
					<element name="kafkaBinding">
						<complexType>
							<sequence>
								<element name="topic" type="Name" maxOccurs="unbounded" />
								<element ref="tns:property" maxOccurs="unbounded" />
							</sequence>
							<attribute name="workerPool" type="anyURI" />
							<attribute name="pollInterval" type="long" default="300000" />
							<attribute name="timeout" type="long" default="60000" />
						</complexType>
					</element>
				</choice>
				<element ref="tns:actionPipeline" minOccurs="0" maxOccurs="unbounded" />
				<element ref="tns:action" maxOccurs="unbounded" />
			</sequence>
			<attribute name="protocol" type="tns:Protocol" use="required" />
			<attribute name="errorHandler" type="NCName" />
			<attribute name="enabled" type="boolean" default="true" />
			<attribute name="version" type="tns:positiveUnsignedShort" default="1" />
		</complexType>
	</element>
	<element name="workerPool">
		<complexType>
			<attribute name="minThreads" type="unsignedShort" use="required" />
			<attribute name="maxThreads" type="unsignedShort" use="required" />
			<attribute name="priority" type="unsignedShort" default="5" />
			<attribute name="queueDepth" type="int" use="required" />
			<attribute name="scheduledThreads" type="unsignedShort" use="required" />
			<attribute name="allowCoreThreadTimeOut" type="boolean" default="false" />
			<attribute name="retry" type="boolean" default="true" />
		</complexType>
	</element>
	<element name="jndiObjectFactory">
		<complexType>
			<sequence>
				<element ref="tns:property" maxOccurs="unbounded" />
			</sequence>
			<attribute name="name" type="tns:string1" use="required" />
			<attribute name="classLoader" type="anyURI" />
			<attribute name="type" type="tns:identifier" use="required" />
			<attribute name="factory" type="tns:identifier" />
			<attribute name="esb0Factory" type="tns:identifier" />
			<attribute name="adminPostAction" type="tns:string1" />
		</complexType>
	</element>
	<element name="classLoader">
		<complexType>
			<sequence>
				<element name="jar" type="tns:globalExpression" maxOccurs="unbounded" />
			</sequence>
			<attribute name="parent" type="anyURI" />
		</complexType>
	</element>
	<simpleType name="string1">
		<restriction base="string">
			<minLength value="1" />
		</restriction>
	</simpleType>
	<simpleType name="positiveUnsignedShort">
		<restriction base="unsignedShort">
			<minInclusive value="1" />
		</restriction>
	</simpleType>
	<simpleType name="positiveInt">
		<restriction base="int">
			<minInclusive value="1" />
		</restriction>
	</simpleType>
	<simpleType name="nonNegativeInt">
		<restriction base="int">
			<minInclusive value="0" />
		</restriction>
	</simpleType>
	<simpleType name="URI1">
		<restriction base="anyURI">
			<minLength value="1" />
			<pattern value="[^*]*\*?" />
		</restriction>
	</simpleType>
	<simpleType name="identifier">
		<restriction base="token">
		 	<pattern value="(\c|#|$)+" />
		</restriction>
	</simpleType>
	<simpleType name="expressionOrEmpty">
		<annotation>
			<documentation>contained ${varOrHeaderName} will be resolved against current message</documentation>
		</annotation>
		<restriction base="string" />
	</simpleType>
	<simpleType name="expression">
		<restriction base="tns:expressionOrEmpty">
			<minLength value="1" />
		</restriction>
	</simpleType>
	<simpleType name="globalExpression">
		<annotation>
			<documentation>contained ${varName} will be resolved against GlobalContext</documentation>
		</annotation>
		<restriction base="string" />
	</simpleType>
	<simpleType name="multipartSubtype">
		<restriction base="string">
			<enumeration value="related" />
			<enumeration value="mixed" />
			<enumeration value="form-data" />
		</restriction>
	</simpleType>
	<simpleType name="referencedURIs">
		<list itemType="anyURI" />
	</simpleType>
	<attributeGroup name="JMSConnectionData">
		<attribute name="jndiConnectionFactory" type="tns:globalExpression" use="required" />
		<attribute name="userName" type="tns:globalExpression" />
		<attribute name="password" type="tns:globalExpression" />
		<attribute name="clientID" type="tns:globalExpression" />
		<attribute name="activePassive" type="boolean" default="false" />
	</attributeGroup>
	<complexType name="DestinationType">
		<simpleContent>
			<extension base="tns:globalExpression">
				<attribute name="schemaURI" type="anyURI" />
				<attribute name="xmlElement" type="tns:string1" />
			</extension>
		</simpleContent>
	</complexType>
	<group name="JMSDestination">
		<choice>
			<element name="jndiDestination" type="anyURI" />
			<element name="queueName" type="tns:DestinationType" />
			<element name="topicName" type="tns:DestinationType" />
		</choice>
	</group>
</schema>
