src/main/xsd/service.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at
  
  http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.artofarc.com/esb/service"
	xmlns:tns="http://www.artofarc.com/esb/service" elementFormDefault="qualified"
	version="0.1">

	<complexType name="ActionBase" abstract="true" />
	<element name="nsDecl">
		<complexType>
			<attribute name="prefix" type="Name" />
			<attribute name="namespace" type="string" use="required" />
		</complexType>
	</element>
	<element name="property">
		<complexType>
			<simpleContent>
				<extension base="string">
					<attribute name="key" type="Name" use="required" />
				</extension>
			</simpleContent>
		</complexType>
	</element>
	<element name="action" type="tns:ActionBase" />
	<simpleType name="httpUrl">
		<restriction base="anyURI">
			<pattern value="https?://.+" />
		</restriction>
	</simpleType>
	<element name="http" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<sequence>
						<element name="url" maxOccurs="unbounded">
							<complexType>
								<simpleContent>
									<extension base="tns:httpUrl">
										<attribute name="active" type="boolean" default="true" />
										<attribute name="weight" type="int" default="1" />
									</extension>
								</simpleContent>
							</complexType>
						</element>
					</sequence>
					<attribute name="connectionTimeout" type="int" default="10000" />
					<attribute name="retries" type="int" default="0" />
					<attribute name="checkAliveInterval" type="int" />
					<attribute name="keepAliveInterval" type="int" />
					<attribute name="readTimeout" type="int" default="60000" />
					<attribute name="chunkLength" type="int" />
					<attribute name="workerPool" type="anyURI" />
					<attribute name="join" type="boolean" default="true" />
					<attribute name="name" type="tns:string1" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="jms" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<choice minOccurs="0">
						<element name="jndiDestination" type="anyURI" />
						<element name="queueName" type="tns:string1" />
						<element name="topicName" type="tns:string1" />
					</choice>
					<attribute name="jndiConnectionFactory" type="anyURI" use="required" />
					<attribute name="userName" type="string" />
					<attribute name="password" type="string" />
					<attribute name="bytesMessage" type="boolean" default="false" />
					<attribute name="deliveryMode" type="int" default="2" />
					<attribute name="priority" type="int" default="4" />
					<attribute name="timeToLive" type="long" default="0" />
					<attribute name="receiveFromTempQueue" type="boolean" default="false" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="produceKafka" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<sequence>
						<element ref="tns:property" maxOccurs="unbounded"/>
					</sequence>
					<attribute name="topic" type="Name" use="required" />
					<attribute name="partition" type="int" />
					<attribute name="binary" type="boolean" default="false" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="consumeKafka" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<sequence>
						<element name="topic" type="Name" maxOccurs="unbounded"/>
						<element ref="tns:property" maxOccurs="unbounded"/>
						<element ref="tns:action" maxOccurs="unbounded" />
					</sequence>
					<attribute name="workerPool" type="anyURI" />
					<attribute name="timeout" type="long" use="required" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="file" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<attribute name="dir" type="anyURI" use="required" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="fileSystemWatch" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<sequence>
						<element name="dir" type="anyURI" maxOccurs="unbounded"/>
						<element ref="tns:action" maxOccurs="unbounded" />
					</sequence>
					<attribute name="workerPool" type="anyURI" />
					<attribute name="timeout" type="long" use="required" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="jdbcParameter">
		<complexType>
			<attribute name="pos" type="int" />
			<attribute name="body" type="boolean" default="false"/>
			<attribute name="variable" type="Name" />
			<attribute name="type" type="Name" />
			<attribute name="truncate" type="int" />
			<attribute name="xmlElement" type="tns:string1" />			
		</complexType>
	</element>
	<complexType name="JDBCBase" abstract="true">
		<complexContent>
			<extension base="tns:ActionBase">
				<sequence>
					<element name="sql" type="tns:string1" minOccurs="0" />
				</sequence>
				<attribute name="dataSource" type="string" use="required" />
				<attribute name="workerPool" type="anyURI" />
				<attribute name="join" type="boolean" default="true" />
				<attribute name="maxRows" type="int" default="0" />
				<attribute name="timeout" type="int" default="60000" />
			</extension>
		</complexContent>
	</complexType>
	<element name="jdbc" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:JDBCBase">
					<sequence>
						<element ref="tns:jdbcParameter" minOccurs="0" maxOccurs="unbounded" />
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="jdbcProcedure" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:JDBCBase">
					<sequence>
						<element name="in">
							<complexType>
								<sequence>
									<element ref="tns:jdbcParameter" minOccurs="0"
										maxOccurs="unbounded" />
								</sequence>
							</complexType>
						</element>
						<element name="out">
							<complexType>
								<sequence>
									<element ref="tns:jdbcParameter" minOccurs="0"
										maxOccurs="unbounded" />
								</sequence>
							</complexType>
						</element>
					</sequence>
					<attribute name="schemaURI" type="anyURI" />
					<attribute name="classLoader" type="anyURI" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<complexType name="AssignBase" abstract="true">
		<complexContent>
			<extension base="tns:ActionBase">
				<sequence>
					<element name="bindName" type="string" minOccurs="0" maxOccurs="unbounded" />
					<element ref="tns:nsDecl" minOccurs="0" maxOccurs="unbounded" />
				</sequence>
				<attribute name="contextItem" type="Name" />
			</extension>
		</complexContent>
	</complexType>
	<element name="assign" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:AssignBase">
					<sequence>
						<element name="assignment" maxOccurs="unbounded">
							<complexType>
								<simpleContent>
									<extension base="tns:string1">
										<attribute name="variable" type="Name" use="required" />
									</extension>
								</simpleContent>
							</complexType>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="assignHeaders" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:AssignBase">
					<sequence>
						<element name="assignment" maxOccurs="unbounded">
							<complexType>
								<simpleContent>
									<extension base="tns:string1">
										<attribute name="header" type="Name" use="required" />
									</extension>
								</simpleContent>
							</complexType>
						</element>
					</sequence>
					<attribute name="clearAll" type="boolean" default="false" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="xml2json" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<sequence>
						<element ref="tns:nsDecl" minOccurs="0" maxOccurs="unbounded" />
					</sequence>
					<attribute name="schemaURI" type="anyURI" use="required" />
					<attribute name="type" type="tns:string1" />
					<attribute name="jsonIncludeRoot" type="boolean" default="true" />
					<attribute name="validate" type="boolean" default="true" />
					<attribute name="formattedOutput" type="boolean" default="false" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="json2xml" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<sequence>
						<element ref="tns:nsDecl" minOccurs="0" maxOccurs="unbounded" />
					</sequence>
					<attribute name="schemaURI" type="anyURI" use="required" />
					<attribute name="type" type="tns:string1" />
					<attribute name="jsonIncludeRoot" type="boolean" default="true" />
					<attribute name="caseInsensitive" type="boolean" default="false" />
					<attribute name="xmlElement" type="tns:string1" />
					<attribute name="validate" type="boolean" default="true" />
					<attribute name="formattedOutput" type="boolean" default="false" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="transform" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<sequence>
						<element name="xquery" type="string" minOccurs="0" />
					</sequence>
					<attribute name="xqueryURI" type="anyURI" />
					<attribute name="contextItem" type="Name" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="applyXSLT" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<attribute name="xslURI" type="anyURI" use="required" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<complexType name="SOAPAction" abstract="true">
		<complexContent>
			<extension base="tns:ActionBase">
				<attribute name="soap12" type="boolean" default="false" />
				<attribute name="singlePart" type="boolean" default="true" />
			</extension>
		</complexContent>
	</complexType>
	<element name="unwrapSOAP" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:SOAPAction">
					<attribute name="wsdlURI" type="anyURI" use="required" />
					<attribute name="binding" type="tns:string1" />
					<attribute name="transport" type="anyURI" />
					<attribute name="getWsdl" type="boolean" default="true" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="wrapSOAP" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:SOAPAction">
                    <attribute name="header" type="boolean" default="false" />
                </extension>
			</complexContent>
		</complexType>
	</element>
	<element name="preSOAPHttp" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:SOAPAction">
                    <attribute name="header" type="boolean" default="false" />
					<attribute name="wsdlURI" type="anyURI" use="required" />
					<attribute name="binding" type="tns:string1" />
					<attribute name="transport" type="anyURI" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="postSOAPHttp" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:SOAPAction" />
			</complexContent>
		</complexType>
	</element>
	<element name="spawn" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<attribute name="workerPool" type="anyURI" />
					<attribute name="join" type="boolean" default="false" />
					<attribute name="usePipe" type="boolean" default="false" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="fork" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<sequence>
						<element ref="tns:action" maxOccurs="unbounded" />
					</sequence>
					<attribute name="workerPool" type="anyURI" />
					<attribute name="copyMessage" type="boolean" default="false" />
					<attribute name="errorHandler" type="Name" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="cache" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:AssignBase">
					<sequence>
						<element ref="tns:action" maxOccurs="unbounded" />
					</sequence>
					<attribute name="key" type="tns:string1" use="required" />
					<attribute name="value" type="Name" use="required" />
					<attribute name="name" type="Name" use="required" />
					<attribute name="maxSize" type="int" use="required" />
					<attribute name="ttl" type="unsignedInt" use="required" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="conditional" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:AssignBase">
					<sequence>
						<element ref="tns:action" maxOccurs="unbounded" />
					</sequence>
					<attribute name="expression" type="tns:string1" use="required" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="branchOnVariable" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<sequence>
						<element name="branch" minOccurs="0" maxOccurs="unbounded">
							<complexType>
								<sequence>
									<element ref="tns:action" minOccurs="0" maxOccurs="unbounded" />
								</sequence>
								<attribute name="value" type="string" use="required" />
							</complexType>
						</element>
						<element name="default" minOccurs="0">
							<complexType>
								<sequence>
									<element ref="tns:action" maxOccurs="unbounded" />
								</sequence>
							</complexType>
						</element>
						<element name="null" minOccurs="0">
							<complexType>
								<sequence>
									<element ref="tns:action" maxOccurs="unbounded" />
								</sequence>
							</complexType>
						</element>
					</sequence>
					<attribute name="variable" type="Name" use="required" />
					<attribute name="useRegEx" type="boolean" default="false" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="branchOnPath" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<sequence>
						<element name="branch" minOccurs="0" maxOccurs="unbounded">
							<complexType>
								<sequence>
									<element ref="tns:action" maxOccurs="unbounded" />
								</sequence>
								<attribute name="pathTemplate" type="string" use="required" />
							</complexType>
						</element>
						<element name="default" minOccurs="0">
							<complexType>
								<sequence>
									<element ref="tns:action" maxOccurs="unbounded" />
								</sequence>
							</complexType>
						</element>
					</sequence>
					<attribute name="basePath" type="anyURI" use="required" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="validate" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<sequence>
						<element ref="tns:nsDecl" minOccurs="0" maxOccurs="unbounded" />
					</sequence>
					<attribute name="schemaURI" type="anyURI" use="required" />
					<attribute name="expression" type="tns:string1" default="." />
					<attribute name="contextItem" type="Name" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="internalService" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<attribute name="serviceURI" type="anyURI" use="required" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="actionPipelineRef" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<attribute name="ref" type="string" use="required" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="setMessage" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<sequence>
						<element name="header" minOccurs="0" maxOccurs="unbounded">
							<complexType>
								<simpleContent>
									<extension base="string">
										<attribute name="name" type="Name" use="required" />
										<attribute name="javaType" type="Name" />
										<attribute name="method" type="Name" />
									</extension>
								</simpleContent>
							</complexType>
						</element>
						<element name="variable" minOccurs="0" maxOccurs="unbounded">
							<complexType>
								<simpleContent>
									<extension base="string">
										<attribute name="name" type="Name" use="required" />
										<attribute name="javaType" type="Name" />
										<attribute name="method" type="Name" />
									</extension>
								</simpleContent>
							</complexType>
						</element>
						<element name="body" minOccurs="0">
							<complexType>
								<simpleContent>
									<extension base="string">
										<attribute name="javaType" type="Name" />
										<attribute name="method" type="Name" />
									</extension>
								</simpleContent>
							</complexType>
						</element>
					</sequence>
					<attribute name="clearAll" type="boolean" default="false" />
					<attribute name="classLoader" type="anyURI" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="processJson" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase">
					<sequence>
						<element name="header" minOccurs="0" maxOccurs="unbounded">
							<complexType>
								<simpleContent>
									<extension base="string">
										<attribute name="name" type="Name" use="required" />
									</extension>
								</simpleContent>
							</complexType>
						</element>
						<element name="variable" minOccurs="0" maxOccurs="unbounded">
							<complexType>
								<simpleContent>
									<extension base="string">
										<attribute name="name" type="Name" use="required" />
									</extension>
								</simpleContent>
							</complexType>
						</element>
						<element name="body" minOccurs="0" type="string" />
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="deserializeMtomXop" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase" />
			</complexContent>
		</complexType>
	</element>
	<element name="suspend" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase" >
					<attribute name="correlationID" type="tns:string1" use="required" />
					<attribute name="timeout" type="long" default="60000" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="resume" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase" >
					<attribute name="correlationID" type="Name" use="required" />
					<attribute name="workerPool" type="anyURI" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="throwException" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase" >
					<attribute name="message" type="tns:string1" use="required" />
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="dump" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase" />
			</complexContent>
		</complexType>
	</element>
	<element name="admin" substitutionGroup="tns:action">
		<complexType>
			<complexContent>
				<extension base="tns:ActionBase" />
			</complexContent>
		</complexType>
	</element>
	<simpleType name="Protocol">
		<restriction base="string">
			<enumeration value="http" />
			<enumeration value="jms" />
			<enumeration value="timer" />
			<enumeration value="internal" />
		</restriction>
	</simpleType>
	<element name="actionPipeline">
		<complexType>
			<sequence>
				<element ref="tns:action" maxOccurs="unbounded" />
			</sequence>
			<attribute name="name" type="Name" use="required" />
			<attribute name="errorHandler" type="Name" />
		</complexType>
	</element>
	<element name="service">
		<complexType>
			<sequence>
				<choice minOccurs="0">
					<element name="httpBindURI">
						<complexType>
							<simpleContent>
								<extension base="anyURI">
									<attribute name="supportCompression" type="boolean" default="false" />
									<attribute name="multipartResponse" type="tns:string1" />
									<attribute name="bufferSize" type="unsignedShort" />
									<attribute name="minPool" type="unsignedShort" default="1" />
									<attribute name="maxPool" type="unsignedShort" default="20" />
									<attribute name="keepAlive" type="unsignedInt" default="300000" />
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="jmsBinding">
						<complexType>
							<choice>
								<element name="jndiDestination" type="anyURI" />
								<element name="queueName" type="tns:string1" />
								<element name="topicName" type="tns:string1" />
							</choice>
							<attribute name="workerPool" type="anyURI" />
							<attribute name="jndiConnectionFactory" type="anyURI" use="required" />
							<attribute name="userName" type="string" />
							<attribute name="password" type="string" />
							<attribute name="subscription" type="tns:string1" />
							<attribute name="messageSelector" type="string" />
							<attribute name="workerCount" type="unsignedShort" default="1" />
							<attribute name="pollInterval" type="int" default="0" />
						</complexType>
					</element>
					<element name="timerBinding">
						<complexType>
							<attribute name="workerPool" type="anyURI" />
							<attribute name="timeUnit" type="string" default="seconds"/>
							<attribute name="initialDelay" type="int" default="60" />
							<attribute name="period" type="int" default="300" />
							<attribute name="fixedDelay" type="boolean" default="false" />
						</complexType>
					</element>
				</choice>
				<element ref="tns:actionPipeline" minOccurs="0" maxOccurs="unbounded" />
				<element ref="tns:action" maxOccurs="unbounded" />
			</sequence>
			<attribute name="protocol" type="tns:Protocol" use="required" />
			<attribute name="errorHandler" type="Name" />
			<attribute name="enabled" type="boolean" default="true" />
			<attribute name="version" type="unsignedShort" default="1" />
		</complexType>
	</element>
	<element name="workerPool">
		<complexType>
			<attribute name="minThreads" type="unsignedShort" use="required" />
			<attribute name="maxThreads" type="unsignedShort" use="required" />
			<attribute name="priority" type="unsignedShort" default="5" />
			<attribute name="queueDepth" type="int" use="required" />
			<attribute name="scheduledThreads" type="unsignedShort" use="required" />
			<attribute name="allowCoreThreadTimeOut" type="boolean" default="false" />
		</complexType>
	</element>
	<element name="classLoader">
		<complexType>
			<sequence>
				<element name="jar" type="anyURI" maxOccurs="unbounded" />
			</sequence>
			<attribute name="parent" type="anyURI" />
		</complexType>
	</element>
	<simpleType name="string1">
		<restriction base="string">
			<minLength value="1" />
		</restriction>
	</simpleType>
</schema>
